# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
build/
dist/
*.egg-info/

# Unit test / coverage reports
.pytest_cache/

# Visual test (seleniumbase)
latest_logs
tests/fixtures/test_doc/mkdocs_override.yml

# mypy
.mypy_cache/

# Environments
.venv

# Environment file
.env

# MkDocs
public
site
