# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
build/
dist/
*.egg-info/

# Unit test / coverage reports
.pytest_cache/

# mypy
.mypy_cache/

# Environments
.venv

# Environment file
.env

# MkDocs
public
site
tests/**/docs

# Auto generated assets
docs/assets/css
docs/assets/js
