# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
build/
dist/
*.egg-info/

# Unit test / coverage reports
.pytest_cache/

# Linters
.mypy_cache/
.ruff_cache/

# Environments
.venv

# Environment file
.env

# MkDocs
public
site
