include src/mkdocs_asciinema_player/templates/asciinema-player.html
include src/mkdocs_asciinema_player/templates/themes/night.html
include src/mkdocs_asciinema_player/templates/themes/blue.html
include src/mkdocs_asciinema_player/assets/terminal-player.css
include src/mkdocs_asciinema_player/assets/asciinema-player.css
include src/mkdocs_asciinema_player/assets/asciinema-player.min.js
include src/mkdocs_asciinema_player/assets/icons/close.svg
include src/mkdocs_asciinema_player/assets/icons/maximize.svg
include src/mkdocs_asciinema_player/assets/icons/minimize.svg
