<div class="mkap-window">
    <div class="mkap-menu">
        <div class="mkap-button mkap-button-close"></div>
        <div class="mkap-button mkap-button-minimize"></div>
        <div class="mkap-button mkap-button-zoom"></div>
        <div class="mkap-button-title">{{ title | default("Terminal") }}</div>
    </div>
    <div class="mkap-player" id="{{ 'asciinema-player-' ~ match_id }}"></div>
</div>
<script>
    window.addEventListener("load", function(event) {
        AsciinemaPlayer.create("{{ site_url }}{{ file }}", document.getElementById("{{ 'asciinema-player-' ~ match_id }}"), {
            cols: {{ cols | default(80) }},
            rows: {{ rows | default(24) }},
            autoPlay: {{ (auto_play | string | lower) | default("false", true) }},
            preload: {{ (preload | string | lower) | default("false", true) }},
            loop: {{ (loop | string | lower) | default("false", true) }},
            startAt: {{ start_at | default(0) }},
            speed: {{ speed | default(1) }},
            theme: "{{ theme | default("asciinema") }}",
            fit: "{{ fit | default("width") }}",
            controls: "{{ controls | default("auto") }}",
            pauseOnMarkers: {{ (pause_on_markers | string | lower) | default("false", true) }},
            terminalFontSize: "{{ terminal_font_size | default("small") }}",
            terminalFontFamily: "{{ terminal_font_family | default("Consolas") }}",
            terminalLineHeight: {{ terminal_line_height | default("1.33333333") }},
        });
    });
</script>
