<div class="mkap-window">
    <div class="mkap-menu">
        <div class="mkap-button-group">
            <div class="mkap-button mkap-button-close"></div>
            <div class="mkap-button mkap-button-minimize"></div>
            <div class="mkap-button mkap-button-zoom"></div>
        </div>
        <div class="mkap-button-title">{{ title | default("Terminal") }}</div>
        <div class="mkap-button-group">&nbsp;</div>
    </div>
    <div class="mkap-player" id="{{ 'asciinema-player-' ~ match_id }}"></div>
</div>
<script>
    window.addEventListener("load", function(event) {
        AsciinemaPlayer.create("{{ file_path }}", document.getElementById("{{ 'asciinema-player-' ~ match_id }}"), {
            cols: {{ cols }},
            rows: {{ rows }},
            autoPlay: {{ auto_play | string | lower }},
            preload: {{ preload | string | lower }},
            loop: {{ loop | string | lower }},
            startAt: "{{ start_at }}",
            speed: {{ speed }},
            theme: "{{ theme }}",
            fit: "{{ fit }}",
            controls: "{{ controls }}",
            pauseOnMarkers: {{ pause_on_markers | string | lower }},
            terminalFontSize: "{{ terminal_font_size }}",
            terminalFontFamily: "{{ terminal_font_family }}",
            terminalLineHeight: {{ terminal_line_height }},
        });
    });
</script>
