---
name: lint

on:  # yamllint disable-line rule:truthy
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lint:
    if: "!startsWith(github.event.head_commit.message, 'bump:')"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        linter: ["djlint", "yamllint", "ruff", "hadolint"]
    env:
      HADOLINT_VERSION: 2.12.0
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - name: Install Dependencies
        run: |
          wget -q -P /tmp https://github.com/hadolint/hadolint/releases/download/v$HADOLINT_VERSION/hadolint-Linux-x86_64
          mv /tmp/hadolint-Linux-x86_64 /usr/local/bin/hadolint
          chmod +x /usr/local/bin/hadolint
          pip install --upgrade pip uv go-task-bin
      - name: Run linter ${{ matrix.linter }}
        run: task lint:${{ matrix.linter }}
