---
name: pages

on:  # yamllint disable-line rule:truthy
  push:
    branches:
      - main

permissions:
  contents: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      TASK_VERSION: 3.45.4
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - name: Configure Git Credentials
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com
      - name: Install Dependencies
        run: |
          wget https://github.com/go-task/task/releases/download/v$TASK_VERSION/task_linux_amd64.deb
          sudo dpkg -i task_linux_amd64.deb
          pip install --upgrade pip uv go-task-bin
      - name: Publish MkDocs to Github Pages
        run: uv run mkdocs gh-deploy --force
