---
name: pypi

on:  # yamllint disable-line rule:truthy
  push:
    tags:
      - "*"

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      TASK_VERSION: 3.45.4
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.12"
      - name: Install Dependencies
        run: |
          pip install poetry
      - name: Build and publish
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI_TOKEN }}
        run: |
          poetry config pypi-token.pypi ${{ secrets.PYPI_TOKEN }}
          poetry build
          poetry publish
