---
name: pypi

on:  # yamllint disable-line rule:truthy
  push:
    tags:
      - "*"

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      TASK_VERSION: 3.45.4
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - name: Install Dependencies
        run: |
          pip install --upgrade pip uv go-task-bin
      - name: Build and publish
        env:
          UV_PUBLISH_TOKEN: ${{ secrets.PYPI_TOKEN }}
        run: |
          uv build
          uv publish
